<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Название страницы</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Заголовок страницы</h1>
    <p>
      Основной текст страницы <br />
      И дедушкино яйцо
    </p>
    <div class="container">
      <h2>Заголовок блока</h2>
      <p>Текст внутри блока</p>
    </div>
    <a href="https://yandex.by/pogoda/ru/krasnodar/details/day-2"
      >Прогноз погоды Краснодар</a
    >
    <img
      src="https://img.magnific.com/premium-vector/river-landscapes_1280033-3666.jpg?semt=ais_hybrid&w=740"
      alt="Изображение пейзажа"
    />
    <ul id="header">
      <li>Пункт 1</li>
      <li>Пункт 2</li>
    </ul>
    <ol>
      <li>Первый пункт</li>
      <li>Второй пункт</li>
    </ol>

    <ul>
      <li>Пункт списка</li>
    </ul>
    <input type="text" placeholder="Введите текст" />
    <button type="submit">Отправить</button>
    <table>
      <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
      </tr>
    </table>
    <span style="color: red">Красный текст</span>
  </body>
</html>
